
/** {
    border: 2px dashed orange;
}*/

header {
  margin: auto;
  width: 100%;
}
.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    max-width: 100%;
    background-color: #848484;
    border: 1px solid black;
    /*outline: 1px dashed orange;*/
}

.right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
    align-items: center;


}
.social {
    /*outline: 2px dashed orange;*/
    padding-right: 5px;
    display: inline-block;
}

.icon-mail {
    color: white;
    /*background-color: #848484;*/
    font-size: 1.5em;
    text-decoration: none;
}
.icon-github {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
.icon-twitter {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.left {
    justify-content: flex-start;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: Geometr231 Lt BT;
    font-size: 50px;
    color: #000000;
    background-color: #ffffff;

    /*background: url("../img/blue-drops2.png");*/
    /*outline: 1px dashed orange;*/

}
#jalleng {

}

.about {
    width: 100%;
}

.mugShot {
    /*display: block;
    margin: 0 auto;
    width: 30%;*/
    width: 88%;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    margin-top: 35px;
    padding: 20px 20px 80px 20px;
    box-shadow: 0px 0px 5px #888;
    background-image:linear-gradient(to bottom, #eee 0%, #eee 100%), linear-gradient(to bottom, #eee 0%, #eee 100%);
    background-clip: content-box, padding-box;

}
.navTab {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}
.summary {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.dropDownTab {
    background-color: #848484;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 15px 10px -6px #555; 
}
.projectLink {
    color: black;
}
.topButton {
    background-color: #848484;
    text-align: center;
    color: white;
}
footer {
    background-color: #848484;
    text-align: center;
    color: white;
    height: 40px;
    max-width: 100%;
}

@media only screen and (min-width: 500px) {
  .mugShot {
    width: 30%;
    display: block;
    /*box-shadow: 0px 0px 5px #888;
    background-image:linear-gradient(to bottom, #eee 0%, #eee 100%), linear-gradient(to bottom, #eee 0%, #eee 100%);
    background-clip: content-box, padding-box;*/
  }
  .pealEffect{
    position: relative;
  }
  .pealEffect:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 33.5%;
    left: auto;
    width: 30%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 18px #777;
    transform: rotate(3deg);
  }
}




